html{font-family:"Montserrat",sans-serif}body{margin:0}header{background-color:#c1d84c;color:white;padding:5px}header
h1{font-size:40px;text-align:center}.section article,figcaption{font-size:18px;text-align:center}.container{width:400px;margin:0
auto}section
article{transition:all 0.5s ease-out allow-discrete;transition:200ms linear 50ms;background-color:#fff;margin:0;padding:0;cursor:pointer}section a:hover{color:rgb(77,202,23)}.imagen{width:400px}table{width:100%;border-collapse:collapse}th,td{border:1px
solid #1e495d;padding:5px}th{background-color:rgb(237,22,51);color:white;text-align:left}tr:hover{background-color:#5d871a;cursor:pointer}.from-register{width:400px;background:#104957;padding:18px;margin:auto;margin-top:100px;font-family:'calibri';color:white}.from-register
h4{margin-bottom:20px;color:white;text-align:center}.from-register
h3{margin-bottom:20px;color:rgb(73, 15, 4);text-align:center}.from-register
select{font-size:20px;margin-bottom:18px;background-color:#16d116;color:rgb(7, 4, 14);text-align:left}.from-register
textarea{font-size:18px;margin-bottom:18px;border:1px
solid #cfb41d;background-color:#bfd772;color:rgb(7,4,14);text-align:left}.controls{width:100%;background:#98a2a5;padding:3px;margin-bottom:16px;border:1px
solid #500505;font-family:'calibri';font-size:18px;color:white}.from-register
p{height:40px;text-align:left;font-size:18px;line-height:40px}.from-register
a{color:white;text-decoration:none}.from-register a:hover{color:white;text-decoration:underline}.from-register
.botons{width:100%;background:#ed7e0e;border:none;padding:12px;color:white;margin:16px
0;font-size:16px}footer{padding:40px;background-color:#d76010;color:#fff}footer
section{float:right}footer
p{margin:0}footer
a{transition:margin-right 2s .5s;color:white;text-decoration:none}